body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  align-items: center;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

.home {
  max-width: 90%;
  margin: 50px auto 0;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100%; /* Ensure that the content fills at least 100% of the viewport height */
  position: relative; /* Set relative positioning for child elements */
}

.centerText {
  text-align: center;
}

.subtleText {
  color: #555;
  font-size: 24px;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.exit {
  margin-top: 20px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.exit:hover {
  background-color: #c0392b;
}

/* Add a different color scheme for the table */
.ant-table {
  background-color: #ffffff;
}

.ant-table-thead > tr > th {
  background-color: #3498db;
  color: #fff;
}

.ant-table-tbody > tr > td {
  background-color: #ecf0f1;
}

.ant-table-row:hover > td {
  background-color: #d4e6f1;
}

/* Add a title border at the top with a different color */
.titleBorder {
  border-top: 4px solid #27ae60; /* Green color for the title border */
  margin-top: -20px; /* Adjust margin to overlap with the subtleText margin */
}
.footer {
  position: absolute; /* Set absolute positioning for the footer */
  bottom: 0; /* Align the bottom edge of the element to the bottom of its containing element */
  width: 100%; /* Full width */
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  background-color: #f4f4f4;
  border-top: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #555;
}