.sign-in-container {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
    flex-direction: row; 
  }
  
.sign-in-form {
    width: 300px;
    text-align: left; 
}

.sign-up-form {
    width: 300px;
    text-align: left;
    margin-left: 10vh;
}

.vertical-line {
    position: absolute;
    top: 32vh;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #ccc; 
    height: 25%;
  }


.name {
    text-align: center; 
    height: 5%;
  }

.name h1 {
    letter-spacing: 8px;
}


.sign-in-form input,
.sign-up-form input {
    width: 27vh;
    padding: 10px;
    margin: 1vh 0 10px 1vh;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.sign-in-form h1,
.sign-up-form h1 {
    margin: 0 0 10px 1vh;
}


.title-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .auth-button {
    width: 30vh;
    margin-top: 1vh;
    background-color: #3498db; /* Add your preferred background color */
    color: #fff; /* Add your preferred text color */
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }
  
  .auth-button:hover {
    background-color: #2980b9; /* Add your preferred hover background color */
  }

  .error-alert {
    text-align: center;
    margin-top: 5vh;
  }
  
  .error-message {
    color: #e74c3c; /* Add your preferred error text color */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold;
    margin-bottom: 10px;
  }

.page {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    justify-content: center;
}